@using Sitecore.XA.Foundation.MarkupDecorator.Extensions
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions          
@using Sitecore.Mvc
@model Sitecore.HabitatHome.Feature.WishLists.Models.WishListLinesRenderingModel
@{                                                      
    var productDetailsLabel = Html.Sitecore().Field("Product Details Label", Html.Sitecore().CurrentItem, new { Parameters = new Sitecore.Collections.SafeDictionary<string> { { "title", @Model.ProductDetailsTooltip } } });
    var unitPriceLabel = Html.Sitecore().Field("Unit Price Label", Html.Sitecore().CurrentItem, new { Parameters = new Sitecore.Collections.SafeDictionary<string> { { "title", @Model.UnitPriceTooltip } } });
 

    var colorLabel = Model.VariantLabels["Color"];
    var sizeLabel = Model.VariantLabels["Size"];
    var styleLabel = Model.VariantLabels["Style"];
  }
<div @Html.Sxa().Component("cxa-shoppingcartlines-component", Model.Attributes) data-cxa-component-class="WishListLines" data-cxa-component-initialized="false" data-cxa-component-model="WishListLinesViewModel" data-cxa-component-type="component">
    @if (!String.IsNullOrWhiteSpace(Model.ErrorMessage))
    {
        <div class="error-message">
            @Model.ErrorMessage
        </div>
    }
    else
    {
        <div class="component-content" data-bind="with: wishList">
            <div class="shopping-cart-lines">
                <table>
                    <thead>
                        <tr>
                            <th colspan="2" title="@Model.ProductDetailsTooltip">@productDetailsLabel</th>
                            <th title="@Model.UnitPriceTooltip">@unitPriceLabel</th>
                            <th title="Add to Cart" class="total-header">Add to Cart</th>
                            <th class="delete-row">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: cartLines">
                        <tr>
                            <td class="shoppingcart-image">
                                <a data-bind="attr:{'href' : productUrl}"><img data-bind="attr: {src: image}" alt=" " pid="image" /></a>
                            </td>
                            <td class="shoppingcart-info">
                                <a data-bind="attr:{'href' : productUrl}">
                                    <h5 class="displayName" data-bind="text: displayName"></h5>
                                </a>
                                <div class="variant-information">
                                    <div class="color-information" data-bind="visible: colorInformation">
                                        <span class="variant-label">@colorLabel</span>
                                        <span class="variant-value" data-bind="text: colorInformation, css: colorInformation"></span>
                                    </div>
                                    <div class="size-information" data-bind="visible: sizeInformation">
                                        <span class="variant-label">@sizeLabel</span>
                                        <span class="variant-value" data-bind="text: sizeInformation"></span>
                                    </div>
                                    <div class="style-information" data-bind="visible: styleInformation">
                                        <span class="variant-label">@styleLabel</span>
                                        <span class="variant-value" data-bind="text: styleInformation"></span>
                                    </div>

                                </div>
                            </td>
                            <td class="shoppingcart-price">
                                <span class="price" data-bind="text: linePrice"></span>
                            </td>
                            <td class="shoppingcart-total">
                                <button class="btn" style="background-color:#50a1ab; color:#fff;" data-bind="attr: {'data-ajax-lineitemid': externalWishListLineId}, click: $parents[1].addItemToCart">
                                    <i class="fa"></i>
                                    <span>Add to Cart</span>
                                </button>
                            </td>
                            <td class="shoppingcart-delete" style="text-align:center;">
                                <a class="remove-line" data-bind="attr: {'data-ajax-lineitemid': externalWishListLineId}"><span data-bind="click: $parents[1].removeItem"></span></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    }
</div>
