@using System.Web.Mvc.Ajax
@using System.Web.Mvc.Html
@using Sitecore.XA.Foundation.MarkupDecorator.Extensions
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Commerce.XA.Feature.Catalog.Models
@using Sitecore.Mvc
@model Sitecore.Commerce.XA.Feature.Catalog.Models.ProductListRenderingModel

@{
    var currentItem = Html.Sitecore().CurrentItem;
    var loadMoreProductsText = Html.Sitecore().Field("Show More Products Text", currentItem);
	var loadMoreProductsTooltip = Html.Sitecore().Field("Show More Products Tooltip", currentItem);
    var quantityLabel = Html.Sitecore().Field("Quantity Label", Html.Sitecore().CurrentItem);
    var addToCartLabel = Html.Sitecore().Field("Add to Cart Button Label", Html.Sitecore().CurrentItem);
    var addingToCartLabel = Html.Sitecore().CurrentItem["Add to Cart Button In-progress Label"];
}

<div data-bind="style: {display: 'block'}" style="display: none" @Html.Sxa().Component("cxa-productlist-component", Model.Attributes) data-cxa-component-class="PurchasableProductList" data-cxa-component-initialized="false" data-cxa-component-type="component">
    <input type="hidden" name="currentCatalogItemId" value="@Model.CurrentCatalogItemId" data-bind="value: currentCatalogItemId" />
    <input type="hidden" name="useLazyLoading" value="@Model.UseLazyLoading" data-bind="value: useLazyLoading" />
    <input type="hidden" name="maxPageSize" value="@Model.MaxPageSize" data-bind="value: maxPageSize" />
    <input type="hidden" name="currentItemId" value="@currentItem.ID" data-bind="value: currentItemId" />
    @if (!string.IsNullOrWhiteSpace(Model.ErrorMessage))
    {
        <div class="error-message">
            @Model.ErrorMessage
        </div>
    }
    else
    {
        if (Model.ShowNoResultMessage && (Model.ChildProducts == null || Model.ChildProducts.Count() == 0))
        {
            var message = Html.Sitecore().Field("No Result Message", Html.Sitecore().CurrentItem).ToString();
            message = message.Replace("[SearchKeyword]", Model.SearchKeyword);

            <div class="no-result-message">
                @Html.Raw(message)
            </div>
        }
        <div class="product-list product-list-with-cart">
            <ul data-bind="foreach: products">
                <li>
                    <div class="product-summary">
                        <div class="photo">
                            <a data-bind="attr:{href: Link}">
                                <img data-bind="attr:{src: SummaryImageUrl, title: DisplayName}" alt="product image" />
                            </a>

                            <div class="add-to-cart-button" data-bind="visible: IsPurchasable && StockStatus.Value == '1'">
                                <button type="submit" class="add-to-cart-btn" data-bind="click:  $parent.addItemToCart">
                                    <span class="initial-label"></span>
                                    <span class="loading-label" style="display:none;"><i class="fa fa-spinner fa-spin"></i></span>
                                </button>
                            </div>
                        </div>

                        <div class="product-info">
                            <h4 class="product-title" data-bind="attr:{title: DisplayName}">
                                <a data-bind="attr:{href: Link}, text: DisplayName"></a>
                            </h4>
                            <!-- ko if: Brand-->
                            <div data-bind="html: Brand" class="product-brand"></div>
                            <!-- /ko-->
                            <!-- ko ifnot: Brand-->
                            <div class="product-brand">&nbsp;</div>
                            <!-- /ko -->

                            <!-- ko ifnot: IsCategory-->
                            <!-- ko if: DisplayStartingFrom -->
                            <div class="lowest-variant-price" data-bind="html: PriceStartingFromText"></div>
                            <!-- /ko -->
                            <!-- ko if: IsOnSale-->
                            <div class="current-price on-sale" data-bind="text: AdjustedPriceWithCurrency"></div>
                            <div class="previous-price on-sale" data-bind="text: ListPriceWithCurrency"></div>
                            <div class="savings on-sale">
                                <span class="savings-text" data-bind="html: SavePercentLead"></span>
                                <span class="savings-percentage" data-bind="text:SavingsPercentage+'%'"></span>
                            </div>
                            <!-- /ko -->
                            <!-- ko ifnot: IsOnSale-->
                            <div class="current-price" data-bind="text: ListPriceWithCurrency"></div>
                            <div class="previous-price"></div>
                            <div class="savings"></div>
                            <div></div>
                            <!-- /ko -->

                            <!-- ko if: StockStatus -->
                            <div data-bind="text: StockStatus ? StockStatus.Name : '', attr:{class: (StockStatus ? StockStatusName : '') + ' product-stock-status'}"></div>

                            <!-- ko if: StockAvailabilityDate -->
                            <!-- TODO: Style the stock availability date -->
                            @*<div class="product-stock-availability-date" data-bind="text: '/' + StockAvailabilityDate"></div>*@
                            <!-- /ko -->
                            <!-- ko ifnot: StockAvailabilityDate -->
                            <div class="product-stock-availability-date"></div>
                            <!-- /ko -->
                            <!-- /ko -->

                            <!-- ko ifnot: StockStatus -->
                            <div class="product-stock-status">&nbsp;</div>
                            <div class="price-stock"></div>
                            <!-- /ko -->

                            <!-- ko if:IsOnSale -->
                            <div class="product-category on-sale">
                                <a data-bind="attr:{href: Link}">
                                    <span class="icon-list"></span><span data-bind="html: ProductPageLinkText"></span>
                                </a>
                            </div>
                            <!-- /ko -->

                            <!-- ko ifnot: IsOnSale -->
                            <div class="product-category">
                                <a data-bind="attr:{href: Link}">
                                    <span class="icon-list"></span><span data-bind="html: ProductPageLinkText"></span>
                                </a>
                            </div>
                            <!-- /ko -->
                            <!-- /ko -->

                            <!-- ko if: IsCategory-->
                            <!-- ko if: IsOnSale-->
                            <div class="product-category on-sale">
                                <a data-bind="attr: {href: Link}">
                                    <span class="icon-list"></span><span data-bind="html: Category"></span>
                                </a>
                            </div>
                            <!-- /ko -->
                            <!-- ko ifnot: IsOnSale-->
                            <div class="product-category">
                                <a data-bind="attr: {href: Link}">
                                    <span class="icon-list"></span><span data-bind="html: Category"></span>
                                </a>
                            </div>
                            <!-- /ko -->
                            <!-- /ko -->
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <!-- ko if: useLazyLoading -->
        <button class="btn btn-block" data-bind="click: loadMoreProducts, visible:canLoadMoreProducts" title="@currentItem["Show More Products Tooltip"]">@loadMoreProductsText</button>
        <!-- /ko -->
    }
</div>