@*//-----------------------------------------------------------------------
    // Copyright 2016 Sitecore Corporation A/S
    // Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file
    // except in compliance with the License. You may obtain a copy of the License at
    //       http://www.apache.org/licenses/LICENSE-2.0
    //
    // Unless required by applicable law or agreed to in writing, software distributed under the
    // License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
    // either express or implied. See the License for the specific language governing permissions
    // and limitations under the License.
    // -------------------------------------------------------------------------------------------*@
@{
    var deliveryPage = Html.Sitecore().CurrentItem;

    // Header
    var headerShipAllLabel = Html.Sitecore().Field("Ship All Items Header", deliveryPage);
    var shippingAddressLabel = Html.Sitecore().Field("Shipping Address Header", deliveryPage);
    var chooseAddressLabel = Html.Sitecore().Field("Choose from Address Book Label", deliveryPage);
    var addressLabel = Html.Sitecore().Field("Choose Address Label", deliveryPage);
    var shippingNameLabel = Html.Sitecore().Field("Name Label", deliveryPage);
    var shippingNameLabelPlaceholder = deliveryPage["Name Label"];
    var cityLabel = Html.Sitecore().Field("City Label", deliveryPage);
    var cityLabelPlaceholder = deliveryPage["City Label"];
    var countryLabel = Html.Sitecore().Field("Country Label", deliveryPage);
    var stateLabel = Html.Sitecore().Field("State Label", deliveryPage);
    var stateLabelPlaceholder = deliveryPage["State Label"];
    var address1Label = Html.Sitecore().Field("Address Label", deliveryPage);
    var address1LabelPlaceholder = deliveryPage["Address Label"];
    var zipcodeLabel = Html.Sitecore().Field("Zip Code Label", deliveryPage);
    var zipcodeLabelPlaceholder = deliveryPage["Zip Code Label"];
    var viewButtonLabel = Html.Sitecore().Field("View Options Button Label", deliveryPage);
    var viewButtonLoadingLabel = deliveryPage["View Options Button In-Progress Label"];
    var otherAddressLabel = Html.Sitecore().Field("Choose Other Address Label", deliveryPage);
    var availableShippingOptionsLabel = Html.Sitecore().Field("Available Shipping Options Header", deliveryPage);
    var shipThisItemHeader = Html.Sitecore().Field("Ship This Item Header", deliveryPage);
}
<div class="shipall-title">
    <h1>@shipThisItemHeader</h1>
</div>
<div class="address-form" data-bind="attr: { id: 'shipAllAddressContainer'+ externalCartLineId }, with: shippingAddress">
    <div class="shipall-addresses-title">
        <h3>@shippingAddressLabel:</h3>
    </div>
    <div class="shipall-addresses" data-bind="visible: $root.isAuthenticated">
        <label data-bind="attr: { for:'ShippingAddressSelect-'+ $parent.externalCartLineId }">@chooseAddressLabel</label>
        <select data-bind="foreach: $root.userAddresses, value: $parent.selectedShippingAddress, attr: { id:'ShippingAddressSelect-'+ $parent.externalCartLineId }" title="@addressLabel" title2="@otherAddressLabel">
            <!-- ko if: externalId() != 'UseShipping' -->
            <option data-bind="attr:{ value:externalId }, text: fullAddress"></option>
            <!-- /ko -->
        </select>
    </div>

    <div class="shipall-name">
        <label data-bind="attr:{for:'ShipAllItemsInput-Name-'+ $parent.externalCartLineId}">@shippingNameLabel<span class="required">*</span></label>
        <input type="text" data-bind="attr:{id:'ShipAllItemsInput-Name-'+ $parent.externalCartLineId}, value: name, event: {change: $parent.shippingAddressFieldChanged}" placeholder="@shippingNameLabelPlaceholder">
    </div>
    <div class="shipall-city">
        <label data-bind="attr:{for:'ShipAllItemsInput-City-'+ $parent.externalCartLineId}">@cityLabel<span class="required">*</span> </label>
        <input type="text" data-bind="attr:{id:'ShipAllItemsInput-City-'+ $parent.externalCartLineId}, value: city, event: {change: $parent.shippingAddressFieldChanged}" placeholder="@cityLabelPlaceholder">
    </div>

    <div class="shipall-country">
        <label data-bind="attr:{for:'ShipAllItemsInput-Country-'+ $parent.externalCartLineId}">@countryLabel<span class="required">*</span></label>
        <select data-bind="attr:{id:'ShipAllItemsInput-Country-'+ $parent.externalCartLineId}, options: $root.countries, optionsText:'country', optionsValue:'code', value: country, event: {change: $parent.shippingAddressFieldChanged}"></select>
    </div>
    <div class="shipall-state">
        <label data-bind="attr:{for:'ShipAllItemsInput-State-'+ $parent.externalCartLineId}">@stateLabel</label>
        <!-- ko if: states == 'undefined' -->
        <select data-bind="attr:{id:'ShipAllItemsInput-State-'+ $parent.externalCartLineId}, options: $root.states, optionsText:'name', optionsValue:'code', value: state, event: {change: $parent.shippingAddressFieldChanged}"></select>
        <!-- /ko -->
        <!-- ko if: states != 'undefined' -->
        <input type="text" data-bind="attr:{id:'ShipAllItemsInput-State-'+ $parent.externalCartLineId}, value: state, event: {change: $parent.shippingAddressFieldChanged}" placeholder="@stateLabelPlaceholder">
        <!-- /ko -->
    </div>
    <div class="shipall-address">
        <label data-bind="attr:{for:'ShipAllItemsInput-Address-'+ $parent.externalCartLineId}">@address1Label</label>
        <input type="text" data-bind="attr:{id:'ShipAllItemsInput-Address-'+ $parent.externalCartLineId}, value: address1, event: {change: $parent.shippingAddressFieldChanged}" placeholder="@address1LabelPlaceholder">
    </div>
    <div class="shipall-zipcode">
        <label data-bind="attr:{for:'ShipAllItemsInput-Zipcode-'+ $parent.externalCartLineId}">@zipcodeLabel</label>
        <input type="text" data-bind="attr:{id:'ShipAllItemsInput-Zipcode-'+ $parent.externalCartLineId}, value: zipPostalCode, event: {change: $parent.shippingAddressFieldChanged}" placeholder="@zipcodeLabelPlaceholder">
    </div>
    <input type="text" data-bind="attr:{id:'ShipAllItemsInput-ExternalId-'+ $parent.externalCartLineId}, value: externalId" style="visibility: hidden; display: none;" />
</div>
<div class="shipall-options" data-bind="attr:{id:'shipAllOptionsContainer'+ externalCartLineId}">
    <div class="shipall-options-title"><h3>@availableShippingOptionsLabel:</h3></div>
    <div class="shipall-options-toggle">
        <button data-bind="attr:{id:'lineGetShippingMethods-'+ externalCartLineId}" type="button" data-loading-text="@viewButtonLoadingLabel" class="lineGetShippingMethods">@viewButtonLabel</button>
    </div>
    <div class="shipall-options-items">
        <div class="shipall-options-item" data-bind="foreach: shippingMethods, attr:{id:'shippingMethodsContainer-'+ externalCartLineId}">

            <!--ko ifnot:  description == 'Pickup From Store'-->
            <input type="radio" data-bind="attr: {'name': 'shippingMethodId-' + $parent.externalCartLineId ,'id': 'method-' + description + $parent.externalCartLineId, 'data-name':description, pvalue: id}, checkMe: $parent.shippingMethod, event: {change: $parent.selectShippingMethod}">
            <label data-bind="text: description, attr: {'for': 'method-' + description + $parent.externalCartLineId}"></label>
            <!--/ko-->
        </div>
    </div>
</div>

