@*//-----------------------------------------------------------------------
    // Copyright 2017 Sitecore Corporation A/S
    // Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file
    // except in compliance with the License. You may obtain a copy of the License at
    //       http://www.apache.org/licenses/LICENSE-2.0
    //
    // Unless required by applicable law or agreed to in writing, software distributed under the
    // License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
    // either express or implied. See the License for the specific language governing permissions
    // and limitations under the License.
    // -------------------------------------------------------------------------------------------*@
@using System.Web.Mvc.Html
@using Sitecore.XA.Foundation.MarkupDecorator.Extensions
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Commerce.XA.Foundation.Common.ExtensionMethods
@using Sitecore.Commerce.XA.Feature.Cart.Models
@using Sitecore.Mvc
@model ShoppingCartLinesRenderingModel
@{
    var currentItem = Html.Sitecore().CurrentItem;
    var productDetailsLabel = Html.Sitecore().Field("Product Details Label", Html.Sitecore().CurrentItem, new { Parameters = new Sitecore.Collections.SafeDictionary<string> { { "title", @Model.ProductDetailsTooltip } } });
    var unitPriceLabel = Html.Sitecore().Field("Unit Price Label", Html.Sitecore().CurrentItem, new { Parameters = new Sitecore.Collections.SafeDictionary<string> { { "title", @Model.UnitPriceTooltip } } });
    var quantityLabel = Html.Sitecore().Field("Quantity Label", Html.Sitecore().CurrentItem, new { Parameters = new Sitecore.Collections.SafeDictionary<string> { { "title", @Model.QuantityTooltip } } });
    var totalLabel = Html.Sitecore().Field("Total Label", Html.Sitecore().CurrentItem, new { Parameters = new Sitecore.Collections.SafeDictionary<string> { { "title", @Model.ProductTotalTooltip } } });

    var giftCardAmountLabel = Model.VariantLabels["Gift Card Amount"];
    var colorLabel = Model.VariantLabels["Color"];
    var sizeLabel = Model.VariantLabels["Size"];
    var styleLabel = Model.VariantLabels["Style"];
    var discountLabel = currentItem["Discount Label"]; // Html.Sitecore().Field("Discount Label", Html.Sitecore().CurrentItem);
    var savingsLabel = currentItem["Saving Label"]; // Html.Sitecore().Field("Savings Label", Html.Sitecore().CurrentItem);
}
<div @Html.Sxa().Component("cxa-shoppingcartlines-component", Model.Attributes) data-cxa-component-class="CartLines" data-cxa-component-initialized="false" data-cxa-component-model="CartLinesViewModel" data-cxa-component-type="component">
    @if (!String.IsNullOrWhiteSpace(Model.ErrorMessage))
    {
        <div class="error-message">
            @Model.ErrorMessage
        </div>
    }
    else
    {
        <div class="component-content" data-bind="with: cart">
            <div class="shopping-cart-lines">
                <table>
                    <thead>
                        <tr>
                            <th colspan="2" title="@Model.ProductDetailsTooltip">@productDetailsLabel</th>
                            <th title="@Model.UnitPriceTooltip">@unitPriceLabel</th>
                            <th title="@Model.QuantityTooltip">@quantityLabel</th>
                            <th title="@Model.ProductTotalTooltip" class="total-header">@totalLabel</th>
                            <th class="delete-row">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: cartLines">
                        <tr>
                            <td class="shoppingcart-image">
                                <a data-bind="attr:{'href' : productUrl}"><img data-bind="attr: {src: image}" alt=" " pid="image" /></a>
                            </td>
                            <td class="shoppingcart-info">
                                <a data-bind="attr:{'href' : productUrl}">
                                    <h5 class="displayName" data-bind="text: displayName"></h5>
                                </a>
                                <div class="variant-information">
                                    <div class="color-information" data-bind="visible: colorInformation">
                                        <span class="variant-label">@colorLabel</span>
                                        <span class="variant-value" data-bind="text: colorInformation, css: colorInformation"></span>
                                    </div>
                                    <div class="size-information" data-bind="visible: sizeInformation">
                                        <span class="variant-label">@sizeLabel</span>
                                        <span class="variant-value" data-bind="text: sizeInformation"></span>
                                    </div>
                                    <div class="style-information" data-bind="visible: styleInformation">
                                        <span class="variant-label">@styleLabel</span>
                                        <span class="variant-value" data-bind="text: styleInformation"></span>
                                    </div>
                                    <div class="gift-card-amount-information" data-bind="visible: giftCardAmountInformation">
                                        <span class="variant-label">@giftCardAmountLabel</span>
                                        <span class="variant-value" data-bind="text: giftCardAmountInformation"></span>
                                    </div>

                                </div>
                            </td>
                            <td class="shoppingcart-price">
                                <span class="price" data-bind="text: linePrice"></span>
                                <p data-bind="visible: discountOfferNames.length > 0">
                                    <span>@discountLabel</span>
                                    <span data-bind="text: discountOfferNames" class="shoppingcart-saving"></span>
                                </p>
                            </td>
                            <td class="shoppingcart-quantity">
                                <div>
                                    <button class="decrease" data-bind="event: { click: $parents[1].decreaseQuantity }, disable: $parents[1].quntityUpdating" style="display:none"></button>
                                    <input class="quantity" min="1" type="number" placeholder="1" data-bind="event: { change: $parents[1].updateQuantity }, value: quantity, valueUpdate: 'input', fireChange:true, attr: {'data-ajax-lineitemid': externalCartLineId}, disable: $parents[1].quntityUpdating">
                                    <button class="increase" data-bind="event: { click: $parents[1].increaseQuantity } , disable: $parents[1].quntityUpdating" style="display:none"></button>
                                </div>
                            </td>
                            <td class="shoppingcart-total">
                                <span class="total" data-bind="text: lineTotal"></span>
                                <p data-bind="visible: discountOfferNames.length > 0">
                                    <span>@savingsLabel</span>
                                    <span data-bind="text: lineItemDiscount" class="shoppingcart-total-saving"></span>
                                </p>
                            </td>
                            <td class="shoppingcart-delete"><a class="remove-line" data-bind="attr: {'data-ajax-lineitemid': externalCartLineId}"><span data-bind="click: $parents[1].removeItem"></span></a>
                            
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    }
</div>
